<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
    <script>

        function checkAllTags() {
            document.querySelectorAll("li").forEach(li => {
                li.classList.remove("hideByTag")
            })

            document.querySelectorAll("input").forEach(e => e.checked = true)
        }

        function uncheckAllTags() {
            document.querySelectorAll("li").forEach(li => {
                li.classList.add("hideByTag")
            })

            document.querySelectorAll("input").forEach(e => e.checked = false)
        }

        function filterRecipes() {
            let active_tags = [...document.querySelectorAll("input:checked")].map(e => e.getAttribute("data-tag"))

            document.querySelectorAll("li").forEach(li => {
                let tags = li.getAttribute("data-tags").split(",")

                if (active_tags.some(e => tags.includes(e))) {
                    li.classList.remove("hideByTag")
                } else {
                    li.classList.add("hideByTag")
                }
            })
        }

        function searchRecipes(input) {
            let search = input.value.toLowerCase()

            document.querySelectorAll("li").forEach(li => {
                let name = li.querySelector("a").innerText.toLowerCase()

                if (name.includes(search)) {
                    li.classList.remove("hideByName")
                } else {
                    li.classList.add("hideByName")
                }

            })
        }

    </script>
</head>

<title>
    Keito kirja
</title>

<body>
    <div>
        {%- for tag in all_tags %}
        <label>
            <input type="checkbox" onclick="filterRecipes()" data-tag="{{ tag }}" checked>
            {{ tag | capitalize }}
        </label>
        {%- endfor %}
        <button type="button" onclick="checkAllTags()">Kaikki</button>
        <button type="button" onclick="uncheckAllTags()">Ei mitään</button>
    </div>

    <div>
        <input type="text" placeholder="Haku" oninput="searchRecipes(this)">
    </div>

    <ul class="recipelist">
        {%- for recipe in recipes %}
        <li class="recipelistitem" data-tags="{{ recipe.tags|join(',') }}">
            <a href="/{{ recipe.href }}">{{ recipe.name }}</a>
        </li>
        {%- endfor %}
    </ul>
</body>

</html>