<html>
<meta charset="UTF-8">
<title>
    Reseptit kirja
</title>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
</head>

<body>
    <h1>{{name}}</h1>

    <p>Alkuperä: <a href="{{source}}">{{source}}</a></p>

    <h2>Ainehet</h2>
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <ol>
        {% for step in method %}
        <li onclick="toggleDone(this)"> {{step}}</li>
        {% endfor %}
    </ol>
</body>

</html>