<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    Keito kirja
</title>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
</head>

<body>
    <header>
        <h1>{{name}}</h1>
        <a class="floaty" href="index.html">Etusivulle</a>
    </header>

    <p><b>Alkuperä</b>:
        {%- if source and source.startswith("http") %}
        <a href="{{source}}">{{source}}</a>
        {%- else %}
        {{source}}
        {%- endif %}
    </p>

    <p><b>Riitto:</b> {{ servings }}</p>

    <main>
        <section>
            <h2>Ainehet</h2>
            {%- for group, values in ingredients %}
            {%- if group %}<b>{{ group }}</b>{% endif %}
            <ul>
                {%- for ingredient in values %}
                <li onclick="toggleDone(this)">{{ ingredient }}</li>
                {%- endfor %}
            </ul>
            {%- endfor %}
        </section>
        <section>
            <h2>Tee näin</h2>
            <ol>
                {%- for step in method %}
                <li onclick="toggleDone(this)"> {{step}}</li>
                {%- endfor %}
            </ol>
        </section>
    </main>
    {%- if notes %}
    <br>
    <h3>Liirum laarum</h3>
    {%- for note in notes %}
    <p>{{ note }}</p>
    {%- endfor %}
    {%- endif %}
</body>

</html>