<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    Keito kirja
</title>

<head>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js"></script>
</head>

<body>
    <h1>{{name}}</h1>

    <p><b>Alkuperä</b>:
        {% if source and source.startswith("http") %}<a href="{{source}}">{% endif %}
            {{source}}
            {% if source and source.startswith("http") %}</a>{% endif %}
    </p>

    <p><b>Riitto:</b> {{ servings }}</p>

    <h2>Ainehet</h2>
    {% for group, values in ingredients %}
    {% if group %}<b>{{ group }}</b>{% endif %}
    <ul>
        {% for ingredient in values %}
        <li onclick="toggleDone(this)">{{ ingredient }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

    <h2>Tee näin</h2>
    <ol>
        {% for step in method %}
        <li onclick="toggleDone(this)"> {{step}}</li>
        {% endfor %}
    </ol>

    {% if notes %}
    <br>
    <h3>Liirum laarum</h3>
    {% for note in notes %}
    <p>{{ note }}</p>
    {% endfor %}

    {% endif %}
</body>

</html>